body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #444;
}

a {
    color: #48577D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin-bottom: 15px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}
#container {
    width: 1000px;
    margin: 150px auto;
    background-color: #eee;
    overflow: hidden; /* Set overflow: hidden to clear the floats on #main and #sidebar */
    padding: 15px;
}

    #main {
        width: 790px;
        float: left;
    }

        #main table {
            width: 780px;
            border: solid 1px lightgrey;
        }

            #main table th {
                padding: 10px;
                background-color: #48577D;
                color: #FFF;
                text-align: left;
            }

            #main table td {
                padding: 5px;
                vertical-align: middle;
                border: solid 1px lightgrey;
            }

            #main table td:first-child {
                width: 100px;
                padding-left: 10px;
            }

            #main table td:last-child {
                width: 80px;
            }
/*
            #main table, th, td {
                border: 1px solid black;
            }
*/
    #sidebar {
        width: 200px;
        float: left;
    }